name: Test

on:
  pull_request:
    paths:
      - "adetailer/**.py"
      - ".github/workflows/test.yml"
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  test:
    name: Test on python ${{ matrix.python-version }}
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: uv run --all-extras --with 'git+https://github.com/ultralytics/CLIP.git' pytest -v
